@page "/udapDiscovery"
@using UdapEd.Shared

<InputFile id="anchorFileInput" OnChange="UploadFilesAsync" hidden />
<ErrorBoundary @ref="ErrorBoundary">
  <ChildContent>
    <MudGrid Class="mt-4">
        <MudItem xs="12" >
            <MudText Typo="Typo.h4">Udap Metadata</MudText>
        </MudItem>
      <MudItem xs="12">
        <MudCard Class="pa-2 ma-2" Elevation="3">
            <MudCardActions>
                
                <MudGrid Spacing="2" Justify="Justify.FlexStart">
                            <MudItem sm="3" xs="12">
                        <MudGrid Spacing="2" Justify="Justify.FlexStart">
                            <MudItem  >
                                <MudButton Class="mt-3"
                                           Color="Color.Primary"
                                           ButtonType="ButtonType.Button"
                                           Variant="Variant.Filled"
                                           OnClick="GetMetadata">Query</MudButton>
                            </MudItem>
                            <MudItem >
                                <MudButton Class="mt-3"
                                           Color="Color.Primary"
                                           ButtonType="ButtonType.Button"
                                           Variant="Variant.Filled"
                                           OnClick="RemoveBaseUrl">Remove Base Url</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudItem>

                    <MudSpacer/>

                    <MudItem sm="8" xs="12">
                        <MudGrid Spacing="2" Justify="Justify.FlexEnd" Class="bottom:0;right:0">
                            <MudItem xs="12">
                                <MudText style="float: right">Choose Trust Anchor Certificate.</MudText>
                            </MudItem>

                            <MudItem xs="12">

                                <MudFab Class="ma-2 " style="float: right;"
                                        HtmlTag="label"
                                        Size="Size.Small"
                                        Color="@CertLoadedColor"
                                        Icon="@AppState.CertificateIcon"
                                        Label="Upload"
                                        Title="Upload Anchor Certificate"
                                        IconSize="Size.Small"
                                        for="anchorFileInput"/>

                                <MudFab Class="ma-2 " style="float: right;"
                                        HtmlTag="label"
                                        Size="Size.Small"
                                        Color="@CertLoadedColor"
                                        Icon="@AppState.CertificateIcon"
                                        Label="Load udap.org"
                                        Title="Use UDAP Test Tool Anchor Certificate"
                                        IconSize="Size.Small"
                                        OnClick="@LoadUdapOrgAnchor" />

                            </MudItem>
                            @if (!string.IsNullOrEmpty(AppState.AnchorCertificateInfo?.DistinguishedName) ||
                                 !string.IsNullOrEmpty(AppState.AnchorCertificateInfo?.Thumbprint))
                            {
                                <MudItem xs="12">
                                    <MudText Typo="Typo.body2" style="float: right;">@AppState.AnchorCertificateInfo?.DistinguishedName</MudText>
                                </MudItem>

                                <MudItem xs="12">
                                    <MudText style="float: right;" Typo="Typo.caption"> Thumbprint (sha1) </MudText>
                                    <MudText style="float: right;" Typo="Typo.body2">@AppState.AnchorCertificateInfo?.Thumbprint </MudText>
                                </MudItem>

                            }

                        </MudGrid>

                    </MudItem>
                </MudGrid>
            </MudCardActions>
            <MudCardContent>
                <MudGrid Spacing="2" Justify="Justify.FlexStart">
                    <MudItem xs="8">
                        <MudAutocomplete T="string"
                                         Label="Enter BaseUrl"
                                         AutoFocus="true"
                                         HelperText=@($"UDAP Metadata URL: {RequestUrl.GetWellKnownUdap(BaseUrl, Community)}")
                                         @bind-Value="BaseUrl"
                                         @bind-Text="BaseUrl"
                                         SearchFuncWithCancel="@GetMetadata"
                                         ResetValueOnEmptyText="true"/>
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField @bind-Value="Community" Label="Community" Variant="Variant.Text"></MudTextField>
                    </MudItem>
                </MudGrid>
                        @if (AppState.MetadataVerificationModel != null && AppState.MetadataVerificationModel.Notifications.Any())
                {
                            <MudAlert Severity="Severity.Error">
                                @foreach (string note in AppState.MetadataVerificationModel.Notifications)
                        {
                                    <li>@note</li>
                        }
                    </MudAlert>
                }
            </MudCardContent>
           
        </MudCard>

      </MudItem>
      <MudGrid Spacing="1" Class="mt-8">
        <MudItem sm="6" xs="12">
          <MudPaper Class="udap-input" Elevation="3">
            <pre>@Result</pre>
          </MudPaper>
        </MudItem>
        <MudItem sm="6" xs="12">
          <MudPaper Class="udap-analyzed" Elevation="3">
            <MudText Align="Align.Right" Color="Color.Tertiary">Discovery | Metadata | Signed | Communities</MudText>
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
              <MudTabPanel Text="Signed Software Statement">
                <SignedJwtViewer Title="<b>Decoded software_statement::</b>" SignedSoftwareStatement="@AppState.MetadataVerificationModel?.UdapServerMetaData?.SignedMetadata" />
              </MudTabPanel>
              <MudTabPanel Text="Certificates">
                <CertificateViewer JwtHeaderWithx5c="@GetJwtHeader()" />
              </MudTabPanel>
            </MudTabs>
          </MudPaper>
        </MudItem>
      </MudGrid>

    </MudGrid>


  </ChildContent>
  <ErrorContent Context="ex">
    <pre class="blazor-error-boundary">
            @ex.Message
      </pre>
  </ErrorContent>
</ErrorBoundary>