@page "/udapRegistration"


<ErrorBoundary @ref="ErrorBoundary">
  <ChildContent>

    <MudGrid Class="mt-4">
      <MudItem xs="12" sm="12" md="12">
        <MudText Typo="Typo.h4">Udap Registration</MudText>
        <MudText> (@AppState.BaseUrl)</MudText>
      </MudItem>
      <MudItem xs="12" sm="12" md="12">

        <MudItem>
          <MudSelect @bind-Value="Oauth2Flow"
                     Label="Select OAuth2Flow Flow"
                     Placeholder="Please Select"
                     AdornmentIcon="@Icons.Material.Outlined.ArrowDropDown"
                     AdornmentColor="Color.Primary"
                     Variant="Variant.Outlined">
                        @foreach (Oauth2FlowEnum item in Enum.GetValues(typeof(Oauth2FlowEnum)))
                        {
                <MudSelectItem Value="@item">@item</MudSelectItem>
                        }
          </MudSelect>
        </MudItem>

        <MudButton Class="mt-3" ButtonType="ButtonType.Button"
                   Variant="Variant.Filled"
                   OnClick="BuildRawSoftwareStatement">

                    @if (AppState.Oauth2Flow == Oauth2FlowEnum.authorization_code)
                    {
              <p>Build authorization_code request. (header and raw software statement)</p>
                    }
                    else
                    {
              <p>Build client_credentials request. (header and raw software statement)</p>
                    }

        </MudButton>

        <MudSpacer />

        <MudGrid Spacing="1" Class="mt-8">
          <MudItem xs="7">
            <MudPaper Class="pa-4 ma-2" Elevation="3">
              <MudText Align="Align.Right" Color="Color.Tertiary">Raw Software Statement</MudText>
              <pre>[</pre>
                <InputTextArea 
                    id="StatementHeader" 
                    Class="pre udap-indent-1"
                             rows="@(SoftwareStatementBeforeEncodingHeader.Count(s => s == '\n' ) + 5)"
                    @bind-Value="SoftwareStatementBeforeEncodingHeader"/>,
                <InputTextArea Class="pre udap-indent-1"
                             rows="@(SoftwareStatementBeforeEncodingSoftwareStatement.Count(s => s == '\n' ) + 1)"
                             @bind-Value="SoftwareStatementBeforeEncodingSoftwareStatement"
                             @onblur="PersistSoftwareStatement"/>
              <pre>]</pre>
            </MudPaper>
          </MudItem>
          <MudItem xs="5">
            <MudPaper Class="pa-4 ma-2" Elevation="3">
              <MudText Align="Align.Right" Color="Color.Tertiary">x509 certificates from x5c</MudText>
              <CertificateViewer JwtHeaderWithx5c="@SoftwareStatementBeforeEncodingHeader" />
            </MudPaper>
          </MudItem>
        </MudGrid>


        <MudButton Class="mt-3" ButtonType="ButtonType.Button"
                   Variant="Variant.Filled"
                   OnClick="BuildRequestBody">Build Request Body</MudButton>

        <MudGrid Spacing="1" Class="mt-8">
          <MudItem xs="7">
            <MudPaper Class="pa-4 ma-2" Elevation="3">
              <MudText Align="Align.Right" Color="Color.Tertiary">Request Body</MudText>
              <pre>@RequestBody</pre>
            </MudPaper>
          </MudItem>
          <MudItem xs="5">
            <MudPaper Class="pa-4 ma-2" Elevation="3">
              <MudText Align="Align.Right" Color="Color.Tertiary">Explanation Todo</MudText>
                <SignedJwtViewer 
                    SignedSoftwareStatement="@AppState.UdapRegistrationRequest?.SoftwareStatement" />
            </MudPaper>
          </MudItem>

        </MudGrid>

        <MudButton Class="mt-3" ButtonType="ButtonType.Button"
                   Variant="Variant.Filled"
                   OnClick="PerformRegistration">Register (DCR)</MudButton>

        <MudGrid Spacing="1" Class="mt-8">
          <MudItem xs="7">
            <MudPaper Class="pa-4 ma-2" Elevation="3">
              <MudText Align="Align.Right" Color="Color.Tertiary">Registration Response</MudText>
              <pre>@RegistrationResult</pre>
            </MudPaper>
          </MudItem>
          <MudItem xs="5">
            <MudPaper Class="pa-4 ma-2" Elevation="3">
              <MudText Align="Align.Right" Color="Color.Tertiary">Explanation Todo</MudText>
              <pre>Explanation Todo</pre>
            </MudPaper>
          </MudItem>
        </MudGrid>
      </MudItem>
    </MudGrid>


  </ChildContent>
  <ErrorContent Context="ex">
    <pre class="blazor-error-boundary">
            @ex.Message
      </pre>
  </ErrorContent>
</ErrorBoundary>